{% extends 'base.html' %}

{% block title %}View Doctrine{% endblock %}

{% block content %}
    <h1>{{ doctrine['name'] }}</h1>
    <p>{{ doctrine['required'] }} required</p>
    <p>{{ doctrine['available'] }} available</p>
    <table>
        <tr>
            <th>Item</th>
            <th>Required</th>
            <th>Available</th>
            <th>Price</th>
        </tr>
    {% for name, values in doctrine['items'].items() %}
        <tr>
            <td>{{ name }}</td>
            <td align="right">{{ "{:,}".format(values['required']) }}</td>
            <td align="right">{{ "{:,}".format(values['available']) }}</td>
            <td align="right">{{ "{:,.2f}".format(values['price']) }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}