{% extends 'base.html' %}

{% block title %}View Doctrine{% endblock %}

{% block content %}
    <h1>{{ doctrine['name'] }}</h1>
    <table>
        <tr>
            <th>Required</th>
            <th>Available</th>
            <th>Percent</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>{{ doctrine['required'] }}</td>
            <td>{{ doctrine['available'] }}</td>
            <td>{{ doctrine['percent'] }}</td>
            <td>{{ "{:,}".format(doctrine['price']) }}</td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Item</th>
            <th>Required</th>
            <th>Available</th>
            <th>Unit Price</th>
            <th>Total Price</th>
        </tr>
    {% for item in doctrine['items'] %}
        <tr>
            <td>{{ item['name'] }}</td>
            <td align="right">{{ "{:,}".format(item['required']) }}</td>
            <td align="right">{{ "{:,}".format(item['available']) }}</td>
            <td align="right">{{ "{:,.2f}".format(item['unit_price']) }}</td>
            <td align="right">{{ "{:,.2f}".format(item['total_price']) }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}