{% extends 'base.html' %}

{% block title %}View Doctrine{% endblock %}

{% block content %}
    <h2 class="text-white display-3">{{ doctrine['name'] }}</h2>
    <div class="w-25">
        <table class="table table-dark table-striped table-hover">
            <tr>
                <td>Required: </td>
                <td class="text-end">{{ doctrine['required'] }}</td>
            </tr>
            <tr>
                <td>Available: </td>
                <td class="text-end">{{ doctrine['available'] }}</td>
            </tr>
            <tr>
                <td>Percent: </td>
                <td class="text-end">{{ doctrine['percent'] }}</td>
            </tr>
            <tr>
                <td>Price: </td>
                <td class="text-end">{{ "{:,.2f}".format(doctrine['price']) }}</td>
            </tr>
        </table>
    </div>
    <table id="table" class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>Percent</th>
                <th>Fits</th>
                <th>Required</th>
                <th>Available</th>
                <th>Name</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in doctrine['items'] %}
            <tr>
                <td class="text-end">{{ item['percent'] }}</td>
                <td class="text-end">{{ item['fits'] }}</td>
                <td class="text-end">{{ item['required'] }}</td>
                <td class="text-end">{{ item['available'] }}</td>
                <td>{{ item['name'] }}</td>
                <td class="text-end">{{ "{:,.2f}".format(item['unit_price']) }}</td>
                <td class="text-end">{{ "{:,.2f}".format(item['total_price']) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}